<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl"><%= link_to t('leads.new.title'), leads_path %></h1>

  <%= render "form", lead: @lead %>

  <%= link_to t('leads.new.back'), leads_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium mt-5" %>
</div>
