@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
.phone {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}